/my_examples/
/build/
/.project
/.cproject
/CMakeFiles/
/CMakeCache.txt
/Makefile
/cmake_install.cmake
.vscode/settings.json
.clang-format
.vscode/c_cpp_properties.json
python/venv/*
python/__pycache__/*
*~
*.log
.gitignore
examples/shortest_path.coords
examples/shortest_path.nodes
